@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

html, body {
	margin: 0;
	border: 0;
	padding: 0;
	/*min-width: 100%;*/
	/*min-height: 100%;*/

	font-family: "Ubuntu", Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	background: url("images/tweed_2x.png");
	color: #333;
}

h1, h2 {
	color: orangered;
	margin: 0;
}

.weather-output-wrapper {
	background: white;
	min-width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 2em 0;
	box-shadow: 0 0 50px 10px #222;
	overflow: hidden;
}

.weather-output {
}

.weather-city-wrapper {
	display: block;
}

.weather-details-wrapper {
	display: block;
	text-align: center;
}

.weather-details-wrapper div {
	display: inline-block;
}

.weather-output-city {
	font-size: 6em;
}

.weather-output-weather-type {
	font-size: 3em;
	text-align: center;
	transform: translateY(-1.2em);
	/*transform: translateY(-100%);*/
}

.weather-details-wrapper img {
	width: 12em;
	height: 12em;
	display: inline-block;
	margin: -1em 0;
}


.weather-output-average-temp {

}

.weather-output-min-temp {

}

.weather-output-max-temp {

}

.temp-wrapper {
	display: block;
}

.temp-wrapper div {
	display: inline-block;
	/*padding: 0 1em;*/
}

.weather-output-current-temp {
	font-size: 3em;
	text-align: right;
	margin-left: -1em;
	padding-right: 1em;
}

.lesser-temp-wrapper div {
	text-align: left;
	display: block;
}



/* Media queries test */

@media (max-width: 600px) {
	html, body {
		background: white;
	}

	.weather-output-wrapper {
		box-shadow: none;
	}
}